<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
      <h1>
        <%= @user.email %>
      </h1>
      <h1>
        <%= @user.event %>
      </h1>
      <h1>
        <%= @user.inlieu %>
      </h1>
    </section>
  </aside>
</div>